@model Marcel_Socolan_Proiect.Models.Route

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edititeza ruta</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="DepartureTime"></label>
            <input asp-for="DepartureTime" class="form-control" />
            <span asp-validation-for="DepartureTime" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ArrivalTime"></label>
            <input asp-for="ArrivalTime" class="form-control" />
            <span asp-validation-for="ArrivalTime" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Salveaza</button>
        <a asp-controller="Route" asp-action="Index" class="btn btn-primary" style="width:150px">
            Inapoi la lista de rute
        </a>
    </div>
</form>
