@model Marcel_Socolan_Proiect.Models.Train

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edititeza tren</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="Speed"></label>
            <input asp-for="Speed" class="form-control" />
            <span asp-validation-for="Speed" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Capacity"></label>
            <input asp-for="Capacity" class="form-control" />
            <span asp-validation-for="Capacity" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ResponsibleConductorId"></label>
            <input asp-for="ResponsibleConductorId" class="form-control" />
            <span asp-validation-for="ResponsibleConductorId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Salveaza</button>
        <a asp-controller="Train" asp-action="Index" class="btn btn-primary" style="width:150px">
            Inapoi la lista de trenuri
        </a>
    </div>
</form>
